<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Contacts Design</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class='x_panel'>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Recent Notifications</h3>
                            </div>
                            <div class="col-md-6">
                                Another Column
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            
                            {{#each validationList}}
                            
                            {{!-- {{#each ../dr.votedAccounts}} --}}
                            {{#ifCondList this.ethAddr ../dr.votedAccounts}}
                            Voted {{this.ethAddr}} <br>
                            {{else}}
                            <div class="col-md-5 col-sm-4 col-xs-12 prodetails profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief">
                                            <i>Health Care Provider</i>
                                        </h4>
                                        <div class="left col-xs-7">
                                            <h2>{{this.personalDetail.firstName}} {{this.personalDetail.lastName}}</h2>
                                            <p>
                                                <strong>Specialization: </strong> {{this.personalDetail.specializationDesc}}
                                            </p>
                                            <p>
                                                <strong>NMC Registration #: </strong> {{this.personalDetail.nmc}}
                                            </p>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building"></i> Address: {{this.personalDetail.address}}</li>
                                                <li>
                                                    <i class="fa fa-phone"></i> Contact: {{this.personalDetail.contact}}</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="/public/upload/{{this.personalDetail.profilePic}}" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">

                                        </div>

                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <strong><p style= "color:red;" id="warning"></p></strong>
                                            <button type="button" class="button-vote btn btn-success btn-xs" data-id="{{this.ethAddr}} {{../dr.ethAddr}}">
                                                <strong>Vote</strong>
                                            </button>
                                           
                                            <button type="button" class="btn btn-primary btn-xs">
                                                View Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/ifCondList}}
                               
                            {{!-- {{#ifCond this.acc ../this.ethAddr}}
                            You Have Already Voted {{../this.ethAddr}}
                            {{/ifCond}} --}}
                            {{!-- {{#ifNotCond this.acc ../this.ethAddr}}
                            <div class="col-md-5 col-sm-4 col-xs-12 prodetails profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief">
                                            <i>Health Care Provider</i>
                                        </h4>
                                        <div class="left col-xs-7">
                                            <h2>{{../this.personalDetail.firstName}} {{../this.personalDetail.lastName}}</h2>
                                            <p>
                                                <strong>Specialization: </strong> {{../this.personalDetail.specializationDesc}}
                                            </p>
                                            <p>
                                                <strong>NMC Registration #: </strong> {{../this.personalDetail.nmc}}
                                            </p>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building"></i> Address: {{../this.personalDetail.address}}</li>
                                                <li>
                                                    <i class="fa fa-phone"></i> Contact: {{../this.personalDetail.contact}}</li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="/public/upload/{{../this.personalDetail.profilePic}}" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">

                                        </div>

                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <strong><p style= "color:red;" id="warning"></p></strong>
                                            <button type="button" class="button-vote btn btn-success btn-xs" data-id="{{../this.ethAddr}} {{../../dr.ethAddr}}">
                                                <strong>Vote</strong>
                                            </button>
                                           
                                            <button type="button" class="btn btn-primary btn-xs">
                                                View Profile
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/ifNotCond}} --}}
                            {{!-- {{/each}} --}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- /page content -->