<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        
        <div class="clearfix"></div>
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-user"></i>Total Users</span>
                <div class="count green">{{countlist.total}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-user"></i> Total Doctors</span>
                <div class="count">{{countlist.dr}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-user"></i> Total Patients</span>
                <div class="count green">{{countlist.patients}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-thumbs-up"></i> Your Votes</span>
                <div class="count">{{countlist.myCount}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-angle-right"></i> Threshold</span>
                <div class="count">{{countlist.threshold}}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top">
                    <i class="fa fa-sort-up"></i> Votes Required</span>
                <div class="count">{{countlist.needed}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class='x_panel'>
                    <div class="x_content">
                        <div class="row">
                            
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2> Welcome to Sanjivani Ecochain
                                        </h2>
                                      
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="bs-example" data-example-id="simple-jumbotron">
                                            <div class="jumbotron">
                                                <h1 class="text-center">Your Voting Status</h1>
                                                <p class="text-center">Sorry, Doctor. You are still under the voting process. Once you have been evaluated and validated by other doctors in our system, you will be able to enter into our system. <br> Until then, please have some patience. <br> Thank You</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       




    </div>
</div>
</div>

<!-- /page content -->