<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Messages from Doctors</h3>

            </div>
            {{!-- Search Bar --}}

        </div>

        <div class="clearfix" text-align="center"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h4>
                            <br> Here is a list of Messages sent by Doctors whom you share your profile.</h4>
                    </div>
                    {{#if msgs}}
                    
                    <div class="x_content">
                        <div class="row">
                            {{#each msgs}}
                           
                            
                            <h4> From : {{this.doctorName}}</h4>
                            <table class="table table-striped jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Message </th>
                                        <th class="column-title">Date </th>
                                    </tr>
                                </thead>

                                <tbody>

                                   {{#each message}}
                                    <tr class="even pointer">
                                        <td class=" ">{{this.text}}</td>
                                        <td class=" ">{{this.date}} </td>
                                    </tr>
                                    {{/each}} 


                                </tbody>
                            </table>
                            {{/each}}
                        </div>
                    </div>
                    {{else}}
                    <h3 class="text-center"> Currently there are no messages to be viewed. </h3>
                    {{/if}}
                    <a href="/patient/{{patient.ethAddr}}"><button class="btn btn-success"> <i class ="fa fa-home"></i>Back </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->