<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Patient Dashboard</h3>
            </div>
            {{!-- Search Bar --}}
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" text-align="center"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{!-- Pagination if reqd --}}
                        <div class="row">
                            {{!--
                            <div class="btn-toolbar row-bottom">
                                <div class="btn-group">
                                    <button class="btn btn-info" type="button">1</button>
                                    <button class="btn btn-info" type="button">2</button>
                                    <button class="btn btn-info" type="button">3</button>
                                    <button class="btn btn-info" type="button">4</button>
                                </div>
                            </div> --}}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row row-bottom">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/personalDetails.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Your body hears everything your mind says.</p>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Personal Details</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/personalDetail" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/vitalsigns.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Health is wealth.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                       <p>
                                            <div class="col-md-9">
                                            <strong>Vital Signs</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/vitalsigns" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">

                                        <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/allergies.png" alt="image" />

                                        <div class="mask">
                                            <p>An apple a day keeps the doctor away.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Allergies</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/allergies" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/medications.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Healthy mind exist in healthy body.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Medications</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/medications" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-bottom">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/instructions.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>A man with cough cannot conceal himself.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Instructions</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="#" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/immunizations.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Prevention is better than cure.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Immunizations</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/immunization" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/surgicalHistory.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>To enjoy the glow of good health, you must exercise.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Surgical History</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/surgicalhistory" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a href="#">
                                            <img style="width: 50%;  height:90%; margin-left:auto;margin-right:auto; display: block;" src="/public/img/reports.png" alt="image" />
                                        </a>
                                        <div class="mask">
                                            <p>Health is not valued till sickness come.</p>

                                        </div>
                                    </div>
                                    <div class="caption">
                                        <p>
                                            <div class="col-md-9">
                                            <strong>Reports</strong></div>
                                            
                                            <div class="col-md-3">
                                            <a href="/patient/{{patient.ethAddr}}/reports" class="btn btn-info" style=""><i class="fa fa-plus"></i></a></div>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->